header {
<<<<<<< HEAD
    width: 100%;
    background-color: #FF0000;
    height: 70px;
=======
  background-color: #FF0000;
  height: 70px;
  width: 100%
>>>>>>> d2bcc03fe412038f3218b5eb2721eb73340255d1
}
